*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}
.text-right{
  @media(min-width:577px){
    text-align: right;
  }
}
.title__wrap{
  text-align: center;
  margin-bottom: 50px;
  h2{
    font-weight: bold;
  }
  p{
    font-size: 30px;
    font-weight: 500;
    margin-top: 23px;
    @media(max-width:767px){
      margin-top: 10px;
    }
  }
}
ul{
  list-style-type: none;
  li{
    margin-bottom: 10px;
    @media(max-width:576px){
      display: flex;
    grid-gap: 5px;;
    }
  
  }
}
.wrapper{
  padding: 0 30px;
  margin: 50px auto;
  @media(min-width:1350px){
    width: 1000px;
    
  }
  
  
}
.employee-info-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  @media(max-width:576px){
    display: block;
  }
}
.employee__info{
  grid-column: span 2;
  @media(max-width:576px){
  margin-bottom: 20px;
  }
}
.employee__table-wrap{
  @media(min-width:479px){
    
    margin-top: 40px;
  }
  overflow-x: auto;
  table{
    width: 100%;
    border-collapse: collapse;
    tr{
      &:first-child{
        th{
          text-align: left;
        }
      }
      &:nth-child(2){
        td{
          padding-top: 20px;
        }
      }
      &:nth-child(even){
        td{
          &:first-child{
            padding-left: 0;
          }
        }
      }
      &:not(first-child){
        td{
          &:nth-last-child(2),&:last-child{
            text-align: center;
          }
        }
      }
      &:nth-last-child(2){
        td{
          padding-bottom: 5px;
          @media(min-width:577px){
            padding-bottom: 20px;
          }

        }
      }
      &:last-child{
        td{
          border-top: 2px solid #ddd;
          padding-top: 20px;
          font-weight: bold;
          @media(max-width:576px){
            padding: 10px 20px 15px;
          }
        }
      }
      th{
        color: #999;
        border-bottom: 2px solid #ddd;
        padding: 15px 20px;
        font-size: 14px;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
      }
      td{
        padding: 5px 20px;
        white-space: nowrap;
        &:last-child{
          padding-right: 0;
          font-weight: bold;
        }
      }
    }
  }
}
.disclaimer{
  margin: 40px 0 80px;
  @media(min-width: 767px){
    
    margin: 80px 0 120px;
  }
}
.signature-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  p{
    text-align: center;
  }
  .signature-line{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 45%;
      top: -10px;
      left: 50%;
      transform: translate(-50%, 0%);
      height: 2px;
      background-image: linear-gradient(90deg, transparent, transparent 70%, #fff 70%, #fff 100%), linear-gradient(90deg, #000, #000, #000, #000, #000);
      background-size: 12px 3px, 100% 3px;
      border: none;
      @media(max-width:575px){
        width: 70%;
      }
    }
  }
}

.form2{
  .employee__table-wrap{
    table{
      tr{
        &:nth-child(odd){
          td{
            &:first-child{
              padding-left: 0;
            }
          }
        }
        &:not(first-child){
          td{
            &:nth-child(3){
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}